//
//
//	Main Sass Entry Point
//
//

html, body {
	width: 100%;
	height: 100%;
}

a:hover {
	text-decoration: none;
}

@import "_variables";

@import "_pages";

@import "_homepage";

@import "_slidemenu";

@import "_ffl";