@(title: String, scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <script type="text/javascript" src="assets/js/jquery-2.1.4.min.js"></script>
	    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
	    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="assets/style/main.css">
    </head>
    <body>
        <nav class="slide-menu">
            <a href="/"><h1>DocElyk</h1></a>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/docelyk" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                <a href="http://facebook.com/docelyk" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                <a href="http://github.com/DocElyk" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
                <a href="https://open.spotify.com/user/docelyk" target="_blank"><i class="fa fa-spotify fa-2x"></i></a>
                <a href="http://soundcloud.com/docelyk" target="_blank"><i class="fa fa-soundcloud fa-2x"></i></a>
            </div>
            <div class="rule"></div>
            <ul>
                <a href="#" class="menu-item"><li>About</li></a>
                <a href="#" class="menu-item"><li>Code</li></a>
            </ul>
            <h3>Apps</h3>
            <div class="rule"></div>
            <ul>
                <a href="/dtbffl" class="menu-item"><li>Fantasy Football</li></a>
            </ul>
            
        </nav>
        <header class="top-bar">
            <div id="menu-button">
                <div id="menu-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </header>
        @content
    </body>
    <footer>
        <script type="text/javascript">
            function slideMenu() {
                console.log('toggle');
                $('body').toggleClass('slide-open');
                $('#menu-icon').toggleClass('close-icon');
                $('.slide-menu').toggleClass('open');
            }

            $(document).ready(function(){
                console.log("ready");
                $('#menu-icon').click(slideMenu);
            });
        </script>
        @scripts
    </footer>
</html>
